body {
  margin: 0;
  padding: 0;
  background: hsla(204, 33%, 97%, 1);


  /* background-color: hsl(204, 71%, 55%); */

  /* background-color: rgb(205, 193, 217); */
}

.float-end {
  float: right;

}

.first-logo {
  margin-left: 4px;
  
}

/* header-styling  */

.navbar-brand {
  width: 91px;
  height: 40px;
  border: 2px solid hsl(213, 94%, 49%);
  border-radius: 5px;
  color: hsla(211, 35%, 17%, 1);
  font-size: 14px;
  padding-left: 50px;
  text-align: center; 

}

.nav-link {
  /* margin: 25px 24px 22px 22px; */
  margin: 10px;
}

hr {
  width: 90%;
  height: 5px;
  margin: auto;
  background-color: hsla(204, 18%, 90%, 1)
}

/* right-container-stylying  */

.col{
  background-color: hsla(204, 84%, 41%, 1);
  color:  hsla(0, 0%, 100%, 1);
  margin-top: 115px;
  width: 300px;
  
  
}


.col-5 {
 margin-top: 115px;
  margin-left: 300px;
  height: 700px;
  
  background-color: #FFFFFF;
  
  
  
}

/* left-container  */

.shadowP p {
  width: 400px;
  margin-inline: 48px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400px;
  margin-top: 27px;
  margin-bottom: 24px;
  text-shadow: 1px 2px 3px  hsla(211, 35%, 17%, 1);
  
}

.d-horizontal {
  height: 2px;
  width: 445px;
  
}


.buy-Wp {
  background-color: hsla(173, 96%, 28%, 1);
  color: hsla(0, 0%, 100%, 1);
  text-align: center;
  width: 350px;
  height: 45px;
  margin-inline: 15px;
  border-radius: 5px;
  margin-top: 39px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  
  padding-left: 110px;
}

.needHelp  {
  margin-inline: 15px;
}

.info {
  width: 30px;
  height: 30px;
  border:  2px solid  hsl(211, 49%, 55%);;
  border-radius: 100%;
  /* padding: 8px 8px 5px 8px; */
  margin-inline: 15px;
  color: hsl(211, 49%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 15px;
}

.item1   {
  color:  hsla(211, 35%, 17%, 1);
  font-size: 18px;
  font-weight: 700px;
  display: inline-flex;
  margin-top: 3px;
  margin-bottom: 9px;

}

.itemField {
  margin-top: 15px;
}

.itemField input {
  
  width: 360px;
}

 .label1  {
  font-size: 14px;
  font-weight: 400px;
  line-height: 16px;
  margin-bottom: 7px;
  margin-inline: 15px;
  color:  hsla(211, 35%, 17%, 1);
}

input {
  margin-inline: 15px;
  /* border: solid red; */
  background-color: hsla(216, 16%, 94%, 1);
  border: solid 2px  hsla(216, 16%, 94%, 1);
  height: 36px;
  width: 200px;

  border-radius: 2px;
}

.lineUp {
  display: inline-flex;
  margin-inline-end: 47px;
}

.itemField {
  /* color: red; */
  margin-bottom: 33px;
}

.Credit-Card input{
  background-color: hsla(216, 16%, 94%, 1);
  width: 440px;
  margin-bottom: 41px;

}

.sp {
  margin-left: 25px;
}

.transParent  {
  opacity: 0.6;
}

.stripe {
  margin-left: 150px;
}

footer span {
  color: hsl(200, 29%, 51%);
  
}

footer {
  text-align: center;
  margin-top: 34px;
}




